<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Conference Aquamarine - Pingendo template</title>
  <meta name="description" content="Free Bootstrap 4 Pingendo Aquamarine template for unique events.">
  <meta name="keywords" content="Pingendo conference event aquamarine free template bootstrap 4">
  <!-- CSS dependencies -->
  <link rel="stylesheet" href="aquamarine.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <!-- Script: Make my navbar transparent when the document is scrolled to top -->
  <script src="js/navbar-ontop.js"></script>
  <!-- Script: Animated entrance -->
  <script src="js/animate-in.js"></script>
</head>

<body class="text-center">
  <!-- Navbar -->
  <!-- Cover -->
  <div class="d-flex align-items-center section-aquamarine py-5 cover" style="background-image: url(&quot;assets/conference/cover.jpg&quot;);">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-white mt-5" style="">
          <h1 class="display-2 d-none d-md-block" style="" contenteditable="true">Are you sharing information that is not required?<br></h1>
          <h1 class="display-4 d-block d-md-none" style="">Conference Pingendo</h1>
          <i class="d-block fa fa-angle-down pt-5 fa-3x"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- Parallax section -->
  <div class="py-5 text-center align-items-center d-flex bg-secondary" style="background-image: linear-gradient(to left bottom, rgba(189, 195, 199, 0.75), rgba(44, 62, 80, 0.75)); background-size: 100%;" >
      <div class="container py-5">
        <div class="row bg-light">
          <div class="col-md-8 mx-auto">
            <h1 class="display-3 mb-4">As matter of fact</h1>
            <p class="lead mb-5 h3">According the statistics provided, 90% of the data shared for verification purposes of age, bank balance, etc contains information that is not used by verification.</p>
          </div>
        </div>
      </div>
    </div>

  <div class="py-5 section-parallax" style="background-image: url(&quot;assets/conference/venue.jpg&quot;);">
    <div class="container my-5 bg-light p-4">
      <div class="row mx-auto">
        <div class="col-md-12">
          <h1 class="mb-3">What we do ?</h1>
          <p class="">We provide a bloackchain based solution that will help you verify instaneously. You only have to share what is required, nothing less nothing more...<br><br></p>
         
          
        </div>
       
      </div>
      <img class="container-fluid" src="https://cdn-images-1.medium.com/max/1600/1*GNlZGiQbh3nqcBur0cVTUQ.png" />
    </div>
  </div>
  <!-- Speakers -->
  <!-- Schedule -->
  <div class="py-5 section-parallax" id="schedule" style="background-image: url(&quot;assets/conference/schedule.jpg&quot;);">
    <div class="container section-aquamarine">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white mt-4" contenteditable="true">We help you verify..</h1>
        </div>
      </div>
      <div class="row text-left text-dark">
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Age</h2>
            </div>
          </div>
        </div>
        <div class="p-4 col-lg-4 col-md-6">
          <div class="card">
            <div class="card-block text-center card-primary p-2">
              <h2>Bank Balance</h2>
            </div>
          </div>
        </div>
        <div class="p-4 col-lg-4">
          <div class="card text-dark">
            <div class="card-block text-center p-2">
              <h2>Location</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sponsor logos -->
  <!-- Call to action -->
  <div class="py-5 section-aquamarine bg-primary" id="register" style="">
    <div class="container my-0 mt-0">
      <div class="row">
        <div class="col-md-12 text-md-left text-center">
          <h1 class="text-white">How to start with smart proof ?</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5 section-aquamarine" id="register">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-md-left text-center">
          <h1 class="text-white text-center">Prover</h1>
          <p><br>1. Register to our website<br>2. Upload the proof in terms of document<br>3.&nbsp; Get the uniqueid<br>4. Share this id with verifier</p>
        </div>
        <div class="col-md-6 text-md-left text-center" style="">
          <h1 class="text-white text-center" contenteditable="true">Verifier</h1>
          <p><br><br>1. Register to our website&nbsp;<br>2. Get the uniqueid from prover<br></p>
        </div>
      </div>
    </div>
    <div class="container"></div>
  </div>
  <!-- Footer -->
  <footer class="text-md-left text-center p-4 text-light bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
            <form
            class="form-signin"
            action="http://127.0.0.1:8000/signupPage"
            method="get"
          >
          <button class="btn btn-lg m-2 btn-secondary" type="submit">Register</button>
        </form>
      </div>
    </div>
  </footer>
  <!-- JavaScript dependencies -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <!-- Script: Smooth scrolling between anchors in the same page -->
  <script src="js/smooth-scroll.js" style="" ></script>
</body>

</html>