<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://static.pingendo.com/bootstrap/bootstrap-4.1.3.css"
    />
  </head>

  <body>

      <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
          <div class="container">
            <button
              class="navbar-toggler navbar-toggler-right border-0"
              type="button"
              data-toggle="collapse"
              data-target="#navbar12"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar12">
              <a class="navbar-brand d-none d-md-block" href="#">
                <i class="fa d-inline fa-lg fa-circle"></i> <b> Smart Proof</b>
              </a>
              <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="#"></a></li>
                <li class="nav-item"><a class="nav-link" href="#"></a></li>
              </ul>
              <ul class="navbar-nav">
                  <form
                    class="form-signin"
                    action="http://127.0.0.1:8000/LoginPage"
                    method="get"
                  >
                    <button class="btn btn-light" type="submit">Login</button>
                  </form>
                </ul>
            </div>
          </div>
        </nav>
        <div class="container" >
            <div class="row">
              <div class="mx-auto col-md-6 col-10 bg-white p-5">
                <img  class="container-fluid" src="https://gifimage.net/wp-content/uploads/2018/05/security-gif-2.gif"/>
                <h1>Start with smart proofing today..</h1>
              </div>
              <div class="mx-auto col-md-6 col-10 bg-white p-5">
                <h1 class="mb-4">Log in</h1>
                <form action="http://127.0.0.1:8000/signup" method="post">
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Email"
                      id="form14"
                      name="username"
                    />
                  </div>
    
                  <div class="form-group">
                    <select name="type" class="form-control">
                      <option>Prover</option>
                      <option>Verifier</option>
                    </select>
                  </div>
    
                  <div class="form-group">
                    <input
                      type="password"
                      class="form-control"
                      placeholder="Password"
                      id="form15"
                      name="password"
                    />
                  </div>
                  <button type="submit" class="btn btn-secondary">Submit</button>
                </form>
              </div>
            </div>
          </div>
    
    
        <script
          src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
          integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
          integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
          crossorigin="anonymous"
        ></script>
  </body>
</html>
